<h2>New advertisement</h2>
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.images) }}
    <button type="submit">Add</button>
{{ form_end(form) }}